@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap');

:root {
    --textColor: rgb(65, 64, 66);
    --btnBgColor: #3287b7;
    --appBgColor: #f2f0e4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 1em;
    font-family: 'Playfair Display', serif;
}

button {
    outline: none !important;
}

a {
    text-decoration: none;
}

.primaryBtn {
    display: flex;
    background-color: var(--btnBgColor);
    color: white;
    border-radius: 2em;
    padding: .5em 1.5em;
    gap: 1rem;
    font-size: 1.2em;
    text-align: center;
    font-weight: 400;
}

.primaryBtn:hover{
    background-color: var(--textColor); 
    color: var(--appBgColor);
}

.app_layout {
    background-color: var(--appBgColor);
    height: 100vh;
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: auto;
}

